.statement {

    padding-top:7.5rem;
}


.statement__container {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}
.statement__content{
    text-align: center;
}

.statement__eyebrow {
    font-family: var(--font-additional);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 140%;
    letter-spacing: 1%;
    color: var(--content-100);
    
}

.statement__title {
    font-family: var(--font-primary);
    font-weight: 200;
    font-size: 2.75rem;
    line-height: 105%;
    letter-spacing: -4%;
    color: var(--content-100);
    font-style: italic;
}

.statement__feature {
    height:100svh;
    position: relative;
    padding: 5.25rem 0 2.75rem;
}

.statement__images {
    height: 100%;
    position: relative;
}
.statement__image-wrapper{
    position: absolute;
    inset: 0;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: translateY(65%) scale(.5);
}
.statement__image {
    transform: scale(2);
}


.statement__info {
    position: absolute;
    left:2rem;
    bottom:calc(2.75rem + 3rem) ;
    display: flex;
    flex-direction: column;
    gap:1.625rem;
    
}

.statement__name {
    font-size:5.5rem;
    line-height: 100%;
    text-transform: capitalize;
    color: var(--base-100);
    font-family: var(--font-primary);
    letter-spacing: 0%;
    font-weight: 200;
}

.statement__link {
    font-size:1.5rem;
    line-height: 100%;
    text-transform: capitalize;
    color: var(--base-100);
    font-family: var(--font-additional);
    letter-spacing: -2%;
    font-weight: 400;
    cursor: pointer;
}