@font-face {
  font-family: "PP";
  src: url("/fonts/PP Editorial New/200.woff2") format("woff2");
  font-weight: 200;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: "PP";
  src: url("/fonts/PP Editorial New/200Italic.woff2") format("woff2");
  font-weight: 200;
  font-style:italic;
  font-display: swap;
}
@font-face {
  font-family: "PP";
  src: url("/fonts/PP Editorial New/400.woff2") format("woff2");
  font-weight: 400;
  font-style:normal;
  font-display: swap;
}
@font-face {
  font-family: "PP";
  src: url("/fonts/PP Editorial New/400Italic.woff2") format("woff2");
  font-weight: 400;
  font-style:italic;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/400.otf") format("otf");
  font-weight: 400;
  font-style:normal;
  font-display: swap;
}